html, body {
	background: #aaf333;
}
div.bgabout {
	background: #00440e url("../images/backgrounds/pine.gif");
	font-family: Comic Sans MS, Comic Neue, cursive; 
	color: #ffff00;
}
.bgabout a:link {
	color: #ff0000;
}
.bgabout a:visited {
	color: #ff0000;
}
.bgabout a:hover {
	color: #ff0000;
}
.bgabout a:active {
	color: #ff0000;
}