/* fonts */

/* inter */
@font-face {
font-family: 'Inter';
	font-style: normal;
	font-weight: normal;
	src: local('Inter'),	url('../fonts/inter.ttf') format('truetype'),
				url('../fonts/inter.woff') format('woff'),
				url('../fonts/inter.otf') format ('opentype');
}

html, body {
	background: #999966;
	font-family: Inter, Helvetica, Arimo, Arial, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	image-rendering: pixelated;
}

body.home {
	background: #999966 url("../images/backgrounds/coffee.bmp");
}

hr {
	border: solid 2px;
}

.container {
	width: 98%;
	max-width: 1012px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
	/* go home */
}
.therest {
	width: 93.478260869347826086934782608693478260869347826086%;
	background: #418fde;
	display: block;
	float: right;
}

.nav {
	width: 93.478260869347826086934782608693478260869347826086%;
	background: #dc4405;
	display: block;
	text-align: center;
	font-weight: bold;
	float: right;
}

.content {
	width: 100%;
	min-height: 348px;
	display: block;
	padding: 3px;
}

.upahead {
	width: 100%;
	max-width: 1012px;
	display: block;
	margin: 0px auto;
}

.footerfighters {
	width: 93.478260869347826086934782608693478260869347826086%;
	background: #ffc72c;
	display: block;
	float: right;
}

.footerfightersinsides {
	padding: 3px;
}

.footerfightersend {
	width: 93.478260869347826086934782608693478260869347826086478260869347826086934782608693478260869347826086%;
	height: 12px;
	display: block;
	float: right;
}

.buttonfoot {
	width: 08.6956521695652169565217%;
	height: 55.35714293571429357142935714293571429%;
}

.skipnav {
	display: none;
	width: 100%;
	height: 10%;
	background: #ffffff;
	color: #000;
	text-align: center;
}
.skipnav:active, .skipnav:hover {
	display: block;
}
