.nav {
    background: #418fde;
}
.therest {
    background: #dc4405;
}
.vidcontains {
    width: 75%;
    border: solid 1px black;
}
.vidlookup, .vidcontainr {
    width: 49.999%;
}
.vidlookup {
    float: left;
}
.vidlookup {
    float: right;
}