html {
    background: #000;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
body {
    min-width: 468px;
    padding: 2px;
}
.linkshome {
    font-weight: 900;
    font-style: italic;
    font-size: large;
}
a:link, a:visited, a:active, a:hover {
    color: #FFF;
    font-weight: 900;
    text-decoration: none;
}