html {
    background: #000;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
body {
    min-width: 468px;
    padding: 2px;
}

html.home {
    text-align: center;
}
html.stuff {
    background: url("assets/multimedia/backgrounds/marble.gif") aqua;
    color: #000;
    width: 100%;
    height: 100%;
}

.linkshome, .mstufflinks {
    font-weight: 900;
    font-style: italic;
    font-size: 3vw;
    text-align: center;
}
.links {
    font-weight: 900;
    font-style: italic;
    text-align: center;
}

.linkshome:link, .linkshome:visited, .linkshome:active, .linkshome:hover {
    color: #FFF;
    font-weight: 900;
    text-decoration: none;
}
a:link, a:visited,  a:hover {
    color: #F00; /*get it because its that guy from nirvana*/
    font-weight: 900;
    text-decoration: none;
}

a:active {
    color: #F0F;
}

.header {
    text-align: center;
}


/* when we don't hover over something */
.blurmebaby:not(:hover) {
    webkit-filter: blur(4px) grayscale(100%); /* Sucky browsers: Chrome, Safari, Opera */
    filter: blur(4px) grayscale(50%); /* The better ones: Firefox, Pale Moon, Suckless Surf */
}
/* when we do */
.blurmebaby:hover {
    webkit-filter: blur(0px) grayscale(0%); /* Sucky browsers: Chrome, Safari, Opera */
    filter: blur(0px) grayscale(00%); /* The better ones: Firefox, Pale Moon, Suckless Surf */
}

.about {
    background: url("assets/multimedia/backgrounds/95tile.gif") ;
}